# **Name:** Uday Tathireddy

## * **Fist we need to run this code we need some python librarys**
  1. Pands
  2. Numpy
  3. Sklearn
  4. NLTK
  5. Google Colaboratory

* **Know we can see how to install this librarys**

1. pip install pandas
2. pip install numpy
3. pip install scikit-learn
4. pip install nlp

In [34]:
import pandas as pd
import numpy as np

In [35]:
metadata = pd.read_csv('/content/drive/MyDrive/Assignment/python_assesment.csv')

In [62]:
metadata.info

<bound method DataFrame.info of         id  ...                            orig_name
0        0  ...                 GOPI NON FAT  YOGURT
1        1  ...  HIMALAYA TULSI RESPIRATORY WELLNESS
2        2  ...                  DEEP POTATOES DICED
3        3  ...                    BIKAJI GUR REWARI
4        4  ...  BAROODY MAAMOUL DATE FILLED COOKIES
...    ...  ...                                  ...
5995  5995  ...             AROMATICS MANGOLI A SOAP
5996  5996  ...      CLOROX NO SPLASH FORMULA LIQUID
5997  5997  ...  HERITAGE SLCT CRANBERRY N ALMND BAS
5998  5998  ...       BHAVANI DANDIYA MATKI WAX DIYA
5999  5999  ...  BOMBAY KITCHEN SPINACH N CHEESE SAM

[6000 rows x 3 columns]>

In [63]:
metadata.shape

(6000, 3)

In [36]:
metadata['name'].head()

0                   GOPI NON FAT  YOGURT
1    HIMALAYA TULSI RESPIRATORY WELLNESS
2                    DEEP POTATOES DICED
3                      BIKAJI GUR REWARI
4    BAROODY MAAMOUL DATE FILLED COOKIES
Name: name, dtype: object

In [37]:
metadata = metadata.drop(metadata.id [6000:], axis=0)

In [38]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a', 'of' etc
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
metadata['name'] = metadata['name'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(metadata['name'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(6000, 4119)

In [39]:
tfidf.get_feature_names()[1000:1010]

['chilili',
 'chilka',
 'chill',
 'chilli',
 'chilly',
 'chillz',
 'chimta',
 'china',
 'chinese',
 'chings']

In [57]:
metadata.head(20)

    id  ...                            orig_name
0    0  ...                 GOPI NON FAT  YOGURT
1    1  ...  HIMALAYA TULSI RESPIRATORY WELLNESS
2    2  ...                  DEEP POTATOES DICED
3    3  ...                    BIKAJI GUR REWARI
4    4  ...  BAROODY MAAMOUL DATE FILLED COOKIES
5    5  ...                               CLOROX
6    6  ...               BURMANS YELLOW MUSTARD
7    7  ...                BABY GOAT CLEAN HALAL
8    8  ...         EXQUISITAS BAKERY PEPERECHAS
9    9  ...              EMAMI FAIR AND HANDSOME
10  10  ...         BHAVANI MADRAS JAGGERY CUBES
11  11  ...          GULLON NO SUGAR TWINS CREME
12  12  ...        ATTICA KALAMATA OLIVES PITTED
13  13  ...        HEINZ BEANS WITH TOMATO SAUSE
14  14  ...                   COBAN KASAP SUCUGU
15  15  ...              BANQUET POPCORN CHICKEN
16  16  ...              KCB PUNJABI VEG BISCUIT
17  17  ...          KOSKA TAHIN HELVA PISTACHIO
18  18  ...                              COUSCUS
19  19  ...                         HAITHI MANGO

[20 rows x 3 columns]

In [41]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [42]:
cosine_sim.shape

(6000, 6000)

In [43]:
cosine_sim[1]

array([0., 1., 0., ..., 0., 0., 0.])

In [44]:
#Construct a reverse map of indices and name titles
indices = pd.Series(metadata.index, index=metadata['orig_name']).drop_duplicates()

In [45]:
indices[:10]

orig_name
GOPI NON FAT  YOGURT                   0
HIMALAYA TULSI RESPIRATORY WELLNESS    1
DEEP POTATOES DICED                    2
BIKAJI GUR REWARI                      3
BAROODY MAAMOUL DATE FILLED COOKIES    4
CLOROX                                 5
BURMANS YELLOW MUSTARD                 6
BABY GOAT CLEAN HALAL                  7
EXQUISITAS BAKERY PEPERECHAS           8
EMAMI FAIR AND HANDSOME                9
dtype: int64

In [46]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the name that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all iteams with that name
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the names based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar names
    sim_scores = sim_scores[1:20]

    # Get the names indices
    name_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar names
    return metadata['orig_name'].iloc[name_indices]

In [61]:
print(get_recommendations('BABY GOAT CLEAN HALAL'))

2296                  CUT BABY GOAT HALAL
4483                     GOAT LIVER HALAL
5423                     GOAT CHAMP HALAL
5809                        BABY GOAT LEG
467            CHICKEN BREAST CLEAN HALAL
1095                   CLEAN FULL CHICKEN
2516                   CLEAN FULL CHICKEN
3628                   CLEAN FULL CHICKEN
2529                            HALF GOAT
22                             GOAT LIVER
5736                   BARAKA GOAT CHEESE
4041                           GOAT BRAIN
1541                 DETTOL CLEAN N FRESH
4656                 DETTOL CLEAN N FRESH
1529                    KATUN GOAT CHEESE
3975                            CLEAN KOI
3955    K N M BULGARIAN GOAT WHITE CHEESE
2709                         BABY SPINACH
2880                         BABY SPINACH
Name: orig_name, dtype: object

In [59]:
print(get_recommendations('BIKAJI GUR REWARI'))

565                  BIKAJI SUGAR REWARI
5502    KALEVA GUR REWARI WINTER DELIGHT
5782                     BIKAJI GUR PARA
5536                              BIKAJI
4895            BIKAJI GUR KHASTA GAJJAK
2958                     BB SUGAR REWARI
4340                     A 1 JAGGERY GUR
4837                       KOLHAPURI GUR
5683           A ONE GUR JAGGERY COOKIES
3053                          GUR REWADI
5659                    JASHAN GUR CHANA
3641                      A1 JAGGERY GUR
824            JASHAN PUNJABI MASALA GUR
4222           JASHAN PUNJABI MASALA GUR
832                   BIKAJI BHUJIA NO 3
354             KCB PUNJABI GUR BISCUITS
2133        A ONE GUR AND SAUNF BISCUITS
2485                    BIKAJI MIX SWEET
3109                    JASHAN GUR SIRNI
Name: orig_name, dtype: object

In [60]:
print(get_recommendations('HAITHI MANGO'))

4574                  GREEN MANGO
5637             DEEP MANGO DRINK
3169           AHMED MANGO PICKLE
3759           AHMED MANGO PICKLE
1976             DEER MANGO DRINK
3301             DEER MANGO DRINK
4158             DEER MANGO DRINK
4448             BABY GREEN MANGO
3378              DEEP MANGO PULP
3474             DEEP LASSI MANGO
3366             BABY SWEET MANGO
1100       DEEP GREEN MANGO DRINK
5171        DEEP HOT MANGO PICKLE
5725    AHMED MANGO PICKLE IN OIL
4600            AHMED JELLY MANGO
912            FROOTI MANGO DRINK
4102           FROOTI MANGO DRINK
647             GREEN MANGO DICED
2006       CHAOKOH MANGO IN SYRUP
Name: orig_name, dtype: object

Conclusion: In this project i used LINEAR_KERNEL model